@{
ViewData["Title"] = "About us";
}

<h2>À propos de nous</h2>
<p>
    La compagnie de chaussure Sanssouci, pionière dans le marché de la chaussure au Québec existe depuis 1985.  Elle conçoit et fabrique tous ses produits directement à partir du Québec. Venez magasiner chez Sansoussi parce que marcher devrait se faire Sanssouci !
</p>