@{
    ViewData["Title"] = "Search";
}

@model List<string>

<h2>Chercher pour des commentaires spécifiques</h2>

<input type="text" id="searchBox" />

<input id="searchsBtn" onclick="search();" value="Search" type="button" />

<div id="ResultsBlock">
    @foreach(var result in Model)
    {
        <div>
            @Html.Raw(result)
        </div>
    }
</div>